<div id="vueIndex" class="row mx-0 justify-content-center">
    <div class="text-center my-4 my-lg-5">
        <h1>Expert Systems</h1>
    </div>
    <div class="col-lg-3">
        <a href="/manage" class="card card-new p-4 centered text-center mb-4">
            <h1><i class="fas fa-plus"></i><br />New expert system</h1>
        </a>
    </div>
    <div v-for="system in arrSystems" class="col-lg-3 mb-4">
        <system-card :id="system.id" :title="system.title" :desc="system.description"></system-card>
    </div>
</div>

<script src="js/components/systemCard.vue"></script>
<script src="js/views/index.vue"></script>