<div id="vueManage" class="row mx-0 justify-content-center">
    <!-- Card 1 -->
    <div class="col-lg-8 my-2 px-0">
        <div class="card">
            <div class="card-body py-4">
                <h1 class="h3">Create system</h1>
                <div class="row mx-0">
                    <div class="col-lg-6 px-0">
                        <div class="form-group my-4 px-0">
                            <label>System name</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group mb-4 px-0">
                        <label>System description</label>
                        <textarea rows="3" class="form-control"></textarea>
                    </div>
                </div>
                <h2 class="h5 mb-3">System elements</h2>
                <ul class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                    </ul>
            </div>

            <div class="card-footer bg-white">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-secondary box-shadow">Create system</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/views/manage.vue"></script>