<div class="row mx-0 justify-content-center">
    <div class="col-lg-8 my-2 px-0">
        <div class="card box-shadow">
            <div class="card-body py-4">
                <div class="d-flex justify-content-between">
                    <h1 class="h3">System name</h1>
                    <div>
                        <a class="link-secondary cursor-pointer"><i class="far fa-question-circle fa-lg"></i></a>
                    </div>
                </div>
                <p class="my-3">É um animal?</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="sim" />
                    <label class="form-check-label" for="sim">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="nao" />
                    <label class="form-check-label" for="nao">No</label>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-sm btn-outline-secondary">Cancel</button>
                <button class="btn btn-sm btn-success">Send answer</button>
            </div>
        </div>
    </div>
</div>